<h1>Places You've Been.</h1>
@foreach(var Places in Model)
{
<p><a href="/Visited/@Places.GetId()">Place: @newPlaces.GetLocation() During: @newPlaces.GetDate()</a>
</p>
<br>
<p>The date you were there was:
</p>
}
<a href='/'>Add a new place</a>
