<h1>Places You've Been.</h1>
@foreach(var newPlaces in Model)
{
<p><a href="/@Places.GetId()">Place: @Places.GetLocation() During: @Places.GetDate()</a>
</p>
<br>
<p>The date you were there was:@Request.Form["location"], @Request.Form["date"]
</p>
}
<a href='/Home/Index'>Add a new place</a>
